body {
    font-family: sans-serif;
    background-color: lightblue;
    color: white;
    margin: 0;
}

header {
    
}

.button {
    
}

nav { text-align: center;

    
}

.nav-link {
    text-decoration: none;
    border-bottom: 2px solid blue;
    padding: 10px;
}

h1 {text-align: center;
color: purple;

}

p {
    font-size: 20px;
    color:purple
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}
img { height: 200px;
width: 200px;

}
h2 { text-align: center;
color: aquamarine;
background-color: white;

}

p { color: blueviolet;

}
.foto { text-align: center;
color: aqua;

}
.product { max-width: 1100px;
margin: 0px auto 0px auto;
align-items: center;
}

.review { border-left: 10px dotted blue;
width: 350px;
padding-left: 10px;}
.fotos { color: blueviolet;
font-size: 30px;

}
.gallery { display: flex;
    flex-wrap: wrap;
    width: 2000px;
   padding-left:235px
}
.fiti { float-left;
}

